# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
import pandas_datareader.data as pdr
import yfinance as yf
import matplotlib
from scipy import stats
import yahoo_fin.stock_info as si

yf.pdr_override()

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks=pd.read_csv("constituents.csv")
for i in range(0,len(stocks["Symbol"])):
    if "." in stocks["Symbol"][i]:
        stocks["Symbol"][i]=stocks["Symbol"][i].replace(".","-")
stocks

    Symbol                  Name                  Sector
0      MMM                    3M             Industrials
1      AOS           A. O. Smith             Industrials
2      ABT                Abbott             Health Care
3     ABBV                AbbVie             Health Care
4      ACN             Accenture  Information Technology
..     ...                   ...                     ...
498    YUM           Yum! Brands  Consumer Discretionary
499   ZBRA    Zebra Technologies  Information Technology
500    ZBH         Zimmer Biomet             Health Care
501   ZION  Zions Bancorporation              Financials
502    ZTS                Zoetis             Health Care

[503 rows x 3 columns]

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [4]:
symbol="AAPL"
data=pdr.get_quote_yahoo(symbol)
# data["priceEpsCurrentYear"]
data.columns

Index(['language', 'region', 'quoteType', 'typeDisp', 'quoteSourceName',
       'triggerable', 'customPriceAlertConfidence', 'currency', 'marketState',
       'regularMarketChangePercent', 'regularMarketPrice', 'exchange',
       'shortName', 'longName', 'messageBoardId', 'exchangeTimezoneName',
       'exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market',
       'esgPopulated', 'firstTradeDateMilliseconds', 'priceHint',
       'preMarketChange', 'preMarketChangePercent', 'preMarketTime',
       'preMarketPrice', 'regularMarketChange', 'regularMarketTime',
       'regularMarketDayHigh', 'regularMarketDayRange', 'regularMarketDayLow',
       'regularMarketVolume', 'regularMarketPreviousClose', 'bid', 'ask',
       'bidSize', 'askSize', 'fullExchangeName', 'financialCurrency',
       'regularMarketOpen', 'averageDailyVolume3Month',
       'averageDailyVolume10Day', 'fiftyTwoWeekLowChange',
       'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange',
       'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent',
       'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'dividendDate',
       'earningsTimestamp', 'earningsTimestampStart', 'earningsTimestampEnd',
       'trailingAnnualDividendRate', 'trailingPE',
       'trailingAnnualDividendYield', 'epsTrailingTwelveMonths', 'epsForward',
       'epsCurrentYear', 'priceEpsCurrentYear', 'sharesOutstanding',
       'bookValue', 'fiftyDayAverage', 'fiftyDayAverageChange',
       'fiftyDayAverageChangePercent', 'twoHundredDayAverage',
       'twoHundredDayAverageChange', 'twoHundredDayAverageChangePercent',
       'marketCap', 'forwardPE', 'priceToBook', 'sourceInterval',
       'exchangeDataDelayedBy', 'averageAnalystRating', 'tradeable',
       'cryptoTradeable', 'displayName', 'price'],
      dtype='object')

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [5]:
price=data["price"]
pe_ratio=data["priceEpsCurrentYear"]
pe_ratio

AAPL    21.841166
Name: priceEpsCurrentYear, dtype: float64

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [6]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Symbol'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [7]:
final_df=pd.DataFrame(columns=my_columns)
for symbol_group in symbol_groups:
    data=pdr.get_quote_yahoo(symbol_group)[["price","priceEpsCurrentYear"]]
    data["nan"]=np.nan
    data.reset_index(inplace=True)
    data=data.set_axis(my_columns,axis=1)
    final_df=pd.concat([final_df,data])
final_df.reset_index(inplace=True,drop=True)

In [11]:
final_df_tmp=final_df
final_df_tmp

    Ticker   Price  Price-to-Earnings Ratio  Number of Shares to Buy
29     AAL   17.02                567.33340                      NaN
489    WDC   37.22                531.71430                      NaN
458    UDR   40.15                174.56522                      NaN
487   WELL   71.15                169.40477                      NaN
144   DXCM  108.47                135.58750                      NaN
..     ...     ...                      ...                      ...
467    VTR   48.99              -4899.00050                      NaN
169    EMR   97.92                      NaN                      NaN
236    HPQ   27.91                      NaN                      NaN
287      L   60.22                      NaN                      NaN
331    NWS   19.82                      NaN                      NaN

[503 rows x 4 columns]

In [21]:
final_df

    Ticker   Price  Price-to-Earnings Ratio  Number of Shares to Buy
29     AAL   17.02                567.33340                      NaN
489    WDC   37.22                531.71430                      NaN
458    UDR   40.15                174.56522                      NaN
487   WELL   71.15                169.40477                      NaN
144   DXCM  108.47                135.58750                      NaN
..     ...     ...                      ...                      ...
467    VTR   48.99              -4899.00050                      NaN
169    EMR   97.92                      NaN                      NaN
236    HPQ   27.91                      NaN                      NaN
287      L   60.22                      NaN                      NaN
331    NWS   19.82                      NaN                      NaN

[503 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [22]:
final_df.sort_values("Price-to-Earnings Ratio",ascending=False, inplace=True)
final_df=final_df[final_df["Price-to-Earnings Ratio"]>0]
final_df=final_df[:50]
final_df.reset_index(inplace=True,drop=True)

In [23]:
final_df

   Ticker    Price  Price-to-Earnings Ratio  Number of Shares to Buy
0     AAL    17.02               567.333400                      NaN
1     WDC    37.22               531.714300                      NaN
2     UDR    40.15               174.565220                      NaN
3    WELL    71.15               169.404770                      NaN
4    DXCM   108.47               135.587500                      NaN
5     LYV    74.66                87.835300                      NaN
6    ILMN   201.11                85.944450                      NaN
7    EQIX   721.89                83.455500                      NaN
8    CDAY    67.62                78.627910                      NaN
9     DLR   106.00                76.258995                      NaN
10   TMUS   149.68                75.979690                      NaN
11   SBAC   306.55                69.829155                      NaN
12    VNO    23.31                68.558820                      NaN
13   SEDG   315.02                67.168440                      NaN
14   CSGP    81.05                64.840004                      NaN
15    ALL   138.97                60.421740                      NaN
16   IDXX   479.08                60.035088                      NaN
17    NOW   414.89                56.601640                      NaN
18   ENPH   245.83                55.367115                      NaN
19   ISRG   258.90                54.851696                      NaN
20    KIM    21.35                52.073174                      NaN
21    ROL    37.78                51.753420                      NaN
22   NVDA   168.99                51.678900                      NaN
23   PAYC   304.46                51.603386                      NaN
24   INVH    31.21                51.163933                      NaN
25     EL   267.22                50.229320                      NaN
26   MKTX   329.02                49.476690                      NaN
27      O    66.19                48.313870                      NaN
28    LLY   361.62                46.540540                      NaN
29    ESS   218.54                45.815514                      NaN
30    CMG  1524.57                45.645805                      NaN
31   MSCI   505.24                44.514534                      NaN
32   MNST   102.08                44.382610                      NaN
33    ARE   155.57                43.699440                      NaN
34    XYL   116.93                43.147602                      NaN
35   FTNT    48.87                42.495650                      NaN
36    TYL   316.76                41.678947                      NaN
37    NKE   128.85                41.035034                      NaN
38   CDNS   169.26                40.014183                      NaN
39    MTD  1557.78                39.871513                      NaN
40    CCI   150.86                38.881443                      NaN
41   TECH    80.85                38.500000                      NaN
42    MCO   314.53                37.533413                      NaN
43    CEG    85.16                36.865803                      NaN
44    AMT   232.81                36.720818                      NaN
45   JKHY   181.76                36.719193                      NaN
46   BF-B    67.07                36.254055                      NaN
47    AWK   158.87                35.621075                      NaN
48     MA   375.52                35.526962                      NaN
49   CTAS   448.92                35.487750                      NaN

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [24]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [25]:
portfolio_input()

That's not a number!
 Try again:

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [29]:
position_size=float(portfolio_size)/len(final_df.index)
# position_size
for row in final_df.index:
    final_df.loc[row,"Number of Shares to Buy"]=math.floor(position_size/final_df.loc[row,"Price"])
final_df

   Ticker    Price  Price-to-Earnings Ratio  Number of Shares to Buy
0     AAL    17.02               567.333400                  11750.0
1     WDC    37.22               531.714300                   5373.0
2     UDR    40.15               174.565220                   4981.0
3    WELL    71.15               169.404770                   2810.0
4    DXCM   108.47               135.587500                   1843.0
5     LYV    74.66                87.835300                   2678.0
6    ILMN   201.11                85.944450                    994.0
7    EQIX   721.89                83.455500                    277.0
8    CDAY    67.62                78.627910                   2957.0
9     DLR   106.00                76.258995                   1886.0
10   TMUS   149.68                75.979690                   1336.0
11   SBAC   306.55                69.829155                    652.0
12    VNO    23.31                68.558820                   8580.0
13   SEDG   315.02                67.168440                    634.0
14   CSGP    81.05                64.840004                   2467.0
15    ALL   138.97                60.421740                   1439.0
16   IDXX   479.08                60.035088                    417.0
17    NOW   414.89                56.601640                    482.0
18   ENPH   245.83                55.367115                    813.0
19   ISRG   258.90                54.851696                    772.0
20    KIM    21.35                52.073174                   9367.0
21    ROL    37.78                51.753420                   5293.0
22   NVDA   168.99                51.678900                   1183.0
23   PAYC   304.46                51.603386                    656.0
24   INVH    31.21                51.163933                   6408.0
25     EL   267.22                50.229320                    748.0
26   MKTX   329.02                49.476690                    607.0
27      O    66.19                48.313870                   3021.0
28    LLY   361.62                46.540540                    553.0
29    ESS   218.54                45.815514                    915.0
30    CMG  1524.57                45.645805                    131.0
31   MSCI   505.24                44.514534                    395.0
32   MNST   102.08                44.382610                   1959.0
33    ARE   155.57                43.699440                   1285.0
34    XYL   116.93                43.147602                   1710.0
35   FTNT    48.87                42.495650                   4092.0
36    TYL   316.76                41.678947                    631.0
37    NKE   128.85                41.035034                   1552.0
38   CDNS   169.26                40.014183                   1181.0
39    MTD  1557.78                39.871513                    128.0
40    CCI   150.86                38.881443                   1325.0
41   TECH    80.85                38.500000                   2473.0
42    MCO   314.53                37.533413                    635.0
43    CEG    85.16                36.865803                   2348.0
44    AMT   232.81                36.720818                    859.0
45   JKHY   181.76                36.719193                   1100.0
46   BF-B    67.07                36.254055                   2981.0
47    AWK   158.87                35.621075                   1258.0
48     MA   375.52                35.526962                    532.0
49   CTAS   448.92                35.487750                    445.0

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [27]:
def strtoint(x):
    m = {'K': 3, 'M': 6, 'B': 9, 'T': 12}
    return int(float(x[:-1]) * 10 ** m[x[-1]] / 1000)
symbol="AAPL"
data=pdr.get_quote_yahoo(symbol)[["price","priceEpsCurrentYear",'priceToBook']]
dataval=si.get_stats_valuation(symbol)
dataval.set_index(0,inplace=True)
data["EV/EBITDA"]=float(dataval.loc["Enterprise Value/EBITDA"])
data["PS"]=float(dataval.loc["Price/Sales (ttm)"])
dataval2=si.get_stats(symbol)
dataval2.set_index("Attribute",inplace=True)
data["EV/GP"]=strtoint(dataval2.loc["EBITDA"][0])/strtoint(dataval2.loc["Gross Profit (ttm)"][0])
data

/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)

       price  priceEpsCurrentYear  EV/EBITDA  PS     EV/GP
AAPL  134.76            21.841166        NaN NaN  0.764375

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [30]:
symbol="AAPL"
dataval2=si.get_stats_valuation(symbol)
dataval2.set_index(0,inplace=True)
dataval2

                            1
0
Market Cap (intraday)     NaN
Enterprise Value          NaN
Trailing P/E              NaN
Forward P/E               NaN
PEG Ratio (5 yr expected) NaN
Price/Sales (ttm)         NaN
Price/Book (mrq)          NaN
Enterprise Value/Revenue  NaN
Enterprise Value/EBITDA   NaN

In [28]:
symbol="MSFT"
dataval2=si.get_stats(symbol)
dataval2.set_index("Attribute",inplace=True)
dataval2

/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)
/home/hakoshie/.local/lib/python3.8/site-packages/yahoo_fin/stock_info.py:336: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append(elt)

                                                       Value
Attribute
Beta (5Y Monthly)                                       0.93
52-Week Change 3                                     -20.95%
S&P500 52-Week Change 3                              -12.63%
52 Week High 3                                        315.95
52 Week Low 3                                         213.43
50-Day Moving Average 3                               239.97
200-Day Moving Average 3                              257.76
Avg Vol (3 month) 3                                   30.23M
Avg Vol (10 day) 3                                    31.31M
Shares Outstanding 5                                   7.45B
Implied Shares Outstanding 6                             NaN
Float 8                                                7.45B
% Held by Insiders 1                                   0.06%
% Held by Institutions 1                              73.35%
Shares Short (Dec 29, 2022) 4                         38.19M
Short Ratio (Dec 29, 2022) 4                            1.32
Short % of Float (Dec 29, 2022) 4                      0.51%
Short % of Shares Outstanding (Dec 29, 2022) 4         0.51%
Shares Short (prior month Nov 29, 2022) 4             40.45M
Forward Annual Dividend Rate 4                          2.72
Forward Annual Dividend Yield 4                        1.14%
Trailing Annual Dividend Rate 3                         2.54
Trailing Annual Dividend Yield 3                       1.06%
5 Year Average Dividend Yield 4                         1.15
Payout Ratio 4                                        26.70%
Dividend Date 3                                 Mar 08, 2023
Ex-Dividend Date 4                              Feb 14, 2023
Last Split Factor 2                                      2:1
Last Split Date 3                               Feb 17, 2003
Fiscal Year Ends                                Jun 29, 2022
Most Recent Quarter (mrq)                       Sep 29, 2022
Profit Margin                                         34.37%
Operating Margin (ttm)                                41.69%
Return on Assets (ttm)                                15.22%
Return on Equity (ttm)                                42.88%
Revenue (ttm)                                        203.07B
Revenue Per Share (ttm)                                27.14
Quarterly Revenue Growth (yoy)                        10.60%
Gross Profit (ttm)                                   135.62B
EBITDA                                                98.84B
Net Income Avi to Common (ttm)                        69.79B
Diluted EPS (ttm)                                       9.29
Quarterly Earnings Growth (yoy)                      -14.40%
Total Cash (mrq)                                     107.24B
Total Cash Per Share (mrq)                             14.39
Total Debt (mrq)                                      77.14B
Total Debt/Equity (mrq)                                44.44
Current Ratio (mrq)                                     1.84
Book Value Per Share (mrq)                             23.28
Operating Cash Flow (ttm)                             87.69B
Levered Free Cash Flow (ttm)                          46.16B

In [34]:
rv_columns=[
    "Ticker",
    "Price",
    "Number of Shares to Buy",
    "Price-to-Earnings Ratio",
    "PE Percentile",
    "Price-to-Book Ratio",
    "PB Percentile",
    "Price-to-Sales Ratio",
    "PS Percentile",
    "EV/EBITDA",
    "EV/EBITDA Percentile",
    "EV/GP",
    "EV/GP Percentile",
    "RV Score"
]
rv_df=pd.DataFrame(columns=rv_columns)
rv_df

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

In [44]:
data=pdr.get_quote_yahoo("META")[["price","priceEpsCurrentYear",'priceToBook']]
data["nan"]=data["nan2"]=np.nan
data.reindex(["price","priceEpsCurrentYear","nan",'priceToBook',"nan2"],axis=1)

       price  priceEpsCurrentYear  nan  priceToBook  nan2
META  136.98            15.085903  NaN     2.941757   NaN

In [174]:
m = {'K': 3, 'M': 6, 'B': 9, 'T': 12,'k':3}
def strtoint(x):
        val=0
        try:
                val=float(x)
        except:
                try: 
                        val=int(float(x[:-1]) * 10 ** m[x[-1]] / 1000)
                except:
                        return np.nan


        return val

In [164]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
m = {'K': 3, 'M': 6, 'B': 9, 'T': 12,"k":3}
def strtoint(x):
        val=0
        try:
                val=float(x)
                # return float(x)
        except:
                print("unko")
                val=int(float(x[:-1]) * 10 ** m[x[-1]] / 1000)
        return val
for symbol in stocks["Symbol"]:
    # symbol="AAPL"
        data=pdr.get_quote_yahoo(symbol)[["price","priceEpsCurrentYear",'priceToBook']]
        data["nan0"]=data["nan1"]=data["nan2"]=np.nan
        data.reindex(["price","nan0","priceEpsCurrentYear","nan1",'priceToBook',"nan2"],axis=1) 
        dataval=si.get_stats_valuation(symbol)
        dataval.set_index(0,inplace=True)
        data["PS"]=float(dataval.loc["Price/Sales (ttm)"])
        data["nan3"]=np.nan
        data["EV/EBITDA"]=float(dataval.loc["Enterprise Value/EBITDA"])
        data["nan4"]=np.nan
        dataval2=si.get_stats(symbol)
        dataval2.set_index("Attribute",inplace=True)

# dataval["EBITDA"]
        data["EV/GP"]=strtoint(dataval2.loc["EBITDA"][0])/strtoint(dataval2.loc["Gross Profit (ttm)"][0])
        data["nan5"]=np.nan
        data["nan6"]=np.nan
        data.reset_index(inplace=True)
        data=data.set_axis(rv_columns,axis=1)
        rv_df=pd.concat([rv_df,data])

unko
unko

KeyboardInterrupt:

In [149]:
strtoint('4.6B')

4600000.0

In [114]:
rv_df=rv_df.drop_duplicates(subset=["Ticker"])
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,MMM,129.51,12.709519,5.084207,NaN,NaN,NaN,2.14,NaN,8.71,NaN,0.420386,NaN,NaN
0,AOS,62.13,20.172080,5.430944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.546412,NaN,NaN
0,ABT,113.51,21.745213,5.547627,NaN,NaN,NaN,4.47,NaN,15.50,NaN,0.547381,NaN,NaN
0,ABBV,153.60,11.098267,16.983637,NaN,NaN,NaN,4.72,NaN,13.01,NaN,0.766461,NaN,NaN
0,ACN,282.14,24.598083,7.729864,NaN,NaN,NaN,2.90,NaN,16.97,NaN,0.537056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,ILMN,201.11,85.944450,4.690831,NaN,NaN,NaN,6.72,NaN,-9.02,NaN,0.176471,NaN,NaN
0,INCY,80.83,29.286232,4.254211,NaN,NaN,NaN,4.71,NaN,18.63,NaN,0.506328,NaN,NaN
0,IR,57.53,25.343613,2.662070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.597990,NaN,NaN
0,INTC,30.11,15.441026,1.244061,NaN,NaN,NaN,1.78,NaN,5.22,NaN,0.475919,NaN,NaN
0,ICE,107.63,20.193245,2.688465,NaN,NaN,NaN,6.31,NaN,15.74,NaN,0.643357,NaN,NaN

In [178]:
for symbol in stocks["Symbol"][250:260]:
        try:
            data=pdr.get_quote_yahoo(symbol)[["price","priceEpsCurrentYear",'priceToBook']]
        except:
            continue
        data["nan0"]=data["nan1"]=data["nan2"]=np.nan
        data.reindex(["price","nan0","priceEpsCurrentYear","nan1",'priceToBook',"nan2"],axis=1) 
        try: 
            dataval=si.get_stats_valuation(symbol)
        except:
            continue
        dataval.set_index(0,inplace=True)
        data["PS"]=strtoint(dataval.loc["Price/Sales (ttm)"])
        data["nan3"]=np.nan

        data["EV/EBITDA"]=strtoint(dataval.loc["Enterprise Value/EBITDA"])
        data["nan4"]=np.nan
        dataval2=si.get_stats(symbol)
        dataval2.set_index("Attribute",inplace=True)

# dataval["EBITDA"]
        data["EV/GP"]=strtoint(dataval2.loc["EBITDA"])/strtoint(dataval2.loc["Gross Profit (ttm)"])
        data["nan5"]=np.nan
        data["nan6"]=np.nan
        data.reset_index(inplace=True)
        data=data.set_axis(rv_columns,axis=1)
        rv_df=pd.concat([rv_df,data])

In [142]:
strtoint("4.6B")

In [179]:
rv_df=rv_df.drop_duplicates(subset=["Ticker"])
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,MMM,129.51,12.709519,5.084207,NaN,NaN,NaN,2.14,NaN,8.71,NaN,0.420386,NaN,NaN
0,AOS,62.13,20.172080,5.430944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.546412,NaN,NaN
0,ABT,113.51,21.745213,5.547627,NaN,NaN,NaN,4.47,NaN,15.50,NaN,0.547381,NaN,NaN
0,ABBV,153.60,11.098267,16.983637,NaN,NaN,NaN,4.72,NaN,13.01,NaN,0.766461,NaN,NaN
0,ACN,282.14,24.598083,7.729864,NaN,NaN,NaN,2.90,NaN,16.97,NaN,0.537056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,IQV,222.14,21.885715,7.719091,NaN,NaN,NaN,2.98,NaN,18.27,NaN,NaN,NaN,NaN
0,IRM,52.63,29.734465,28.901703,NaN,NaN,NaN,3.09,NaN,15.80,NaN,NaN,NaN,NaN
0,JBHT,176.80,18.133333,5.222426,NaN,NaN,NaN,1.27,NaN,9.80,NaN,NaN,NaN,NaN
0,JKHY,181.76,36.719193,9.069859,NaN,NaN,NaN,6.71,NaN,20.38,NaN,NaN,NaN,NaN
0,J,126.01,17.051422,2.648938,NaN,NaN,NaN,1.09,NaN,14.85,NaN,NaN,NaN,NaN

In [181]:
rv_df.to_csv("to260.csv")

In [180]:
stocks["Symbol"][259]

'J'

In [75]:
for i,symbol in enumerate(stocks["Symbol"]):
    if symbol=="CSCO":
        print(i)

111

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
17,AFL,39.060,N/A,9.7,N/A,0.950934,N/A,NaN,N/A,NaN,N/A,N/A
18,AIG,31.950,N/A,-5.88,N/A,0.407454,N/A,NaN,N/A,NaN,N/A,N/A
20,AIZ,127.680,N/A,20.22,N/A,1.360264,N/A,NaN,N/A,NaN,N/A,N/A
26,ALL,97.880,N/A,7.1,N/A,1.173772,N/A,NaN,N/A,NaN,N/A,N/A
39,ANTM,293.560,N/A,12.24,N/A,2.304037,N/A,NaN,N/A,NaN,N/A,N/A
40,AON,196.350,N/A,26.09,N/A,13.486066,N/A,17.533688,N/A,NaN,N/A,N/A
56,BAC,26.970,N/A,12.63,N/A,0.867662,N/A,NaN,N/A,NaN,N/A,N/A
64,BK,38.160,N/A,8.27,N/A,0.804550,N/A,NaN,N/A,NaN,N/A,N/A
65,BKNG,1866.170,N/A,30.78,N/A,12.571484,N/A,12.859665,N/A,NaN,N/A,N/A
75,C,55.140,N/A,9.52,N/A,0.576968,N/A,NaN,N/A,NaN,N/A,N/A
78,CARR,30.210,N/A,None,N/A,1.884398,N/A,9.144195,N/A,4.550543,N/A,N/A
80,CB,132.400,N/A,27.62,N/A,1.066146,N/A,NaN,N/A,NaN,N/A,N/A
90,CFG,26.840,N/A,10.71,N/A,0.501914,N/A,NaN,N/A,NaN,N/A,N/A
94,CI,188.390,N/A,13.31,N/A,1.477180,N/A,NaN,N/A,NaN,N/A,N/A
95,CINF,80.210,N/A,23.51,N/A,1.305219,N/A,NaN,N/A,NaN,N/A,N/A
97,CLX,232.200,N/A,30.25,N/A,32.278899,N/A,NaN,N/A,9.790028,N/A,N/A
98,CMA,43.270,N/A,10.2,N/A,0.801751,N/A,NaN,N/A,NaN,N/A,N/A
104,CNC,65.780,N/A,22.88,N/A,2.982878,N/A,NaN,N/A,NaN,N/A,N/A
106,COF,67.830,N/A,-195.92,N/A,0.534970,N/A,NaN,N/A,NaN,N/A,N/A
129,DFS,55.920,N/A,17.68,N/A,1.456734,N/A,NaN,N/A,NaN,N/A,N/A
185,FITB,21.043,N/A,10.87,N/A,0.717095,N/A,NaN,N/A,NaN,N/A,N/A
192,FRC,123.410,N/A,22.93,N/A,2.163006,N/A,NaN,N/A,NaN,N/A,N/A
201,GL,85.320,N/A,13.09,N/A,1.266177,N/A,NaN,N/A,NaN,N/A,N/A
210,GS,211.320,N/A,16.21,N/A,0.813961,N/A,NaN,N/A,NaN,N/A,N/A
214,HBAN,10.179,N/A,12.49,N/A,0.855431,N/A,NaN,N/A,NaN,N/A,N/A
220,HIG,42.840,N/A,8.7,N/A,0.959808,N/A,NaN,N/A,NaN,N/A,N/A
232,HUM,427.300,N/A,15.96,N/A,4.713176,N/A,NaN,N/A,NaN,N/A,N/A
260,JPM,103.310,N/A,14.29,N/A,1.213231,N/A,NaN,N/A,NaN,N/A,N/A
262,KEY,13.180,N/A,11.35,N/A,0.752496,N/A,NaN,N/A,NaN,N/A,N/A
274,L,38.130,N/A,-9.39,N/A,0.573510,N/A,NaN,N/A,NaN,N/A,N/A
285,LNC,39.000,N/A,34.14,N/A,0.382368,N/A,NaN,N/A,NaN,N/A,N/A
294,MA,326.780,N/A,46.44,N/A,57.878484,N/A,32.240726,N/A,NaN,N/A,N/A
304,MET,40.060,N/A,5.15,N/A,0.560684,N/A,NaN,N/A,NaN,N/A,N/A
310,MMC,121.870,N/A,29.5,N/A,7.745583,N/A,19.929889,N/A,NaN,N/A,N/A
318,MS,53.890,N/A,9.4,N/A,1.019241,N/A,NaN,N/A,NaN,N/A,N/A
322,MTB,109.100,N/A,10.14,N/A,0.908166,N/A,NaN,N/A,NaN,N/A,N/A
343,NTRS,84.016,N/A,13.11,N/A,1.585778,N/A,NaN,N/A,NaN,N/A,N/A
356,OTIS,65.000,N/A,None,N/A,16.466082,N/A,12.978635,N/A,7.134814,N/A,N/A
360,PBCT,11.413,N/A,9.88,N/A,0.611706,N/A,NaN,N/A,NaN,N/A,N/A
366,PFG,46.400,N/A,10,N/A,0.875822,N/A,NaN,N/A,NaN,N/A,N/A
368,PGR,91.930,N/A,11.96,N/A,3.853690,N/A,NaN,N/A,NaN,N/A,N/A
375,PNC,114.560,N/A,7,N/A,0.968309,N/A,NaN,N/A,NaN,N/A,N/A
381,PRU,69.800,N/A,-130,N/A,0.442811,N/A,NaN,N/A,NaN,N/A,N/A
391,RE,228.250,N/A,17.75,N/A,1.014116,N/A,NaN,N/A,NaN,N/A,N/A
394,RF,12.050,N/A,17.46,N/A,0.711818,N/A,NaN,N/A,NaN,N/A,N/A
410,SIVB,257.970,N/A,14.96,N/A,2.029366,N/A,NaN,N/A,NaN,N/A,N/A
421,STT,71.170,N/A,11.32,N/A,1.018320,N/A,NaN,N/A,NaN,N/A,N/A
434,TFC,39.360,N/A,12.85,N/A,0.820157,N/A,NaN,N/A,NaN,N/A,N/A
443,TRV,123.090,N/A,17.09,N/A,1.165263,N/A,NaN,N/A,NaN,N/A,N/A
458,UNH,337.050,N/A,18.69,N/A,5.428035,N/A,NaN,N/A,NaN,N/A,N/A
459,UNM,19.580,N/A,4.12,N/A,0.392314,N/A,NaN,N/A,NaN,N/A,N/A
463,USB,38.150,N/A,12.17,N/A,1.099607,N/A,NaN,N/A,NaN,N/A,N/A
482,WFC,25.670,N/A,29.3,N/A,0.566555,N/A,NaN,N/A,NaN,N/A,N/A
488,WRB,63.440,N/A,34.45,N/A,1.877291,N/A,NaN,N/A,NaN,N/A,N/A
503,ZION,35.770,N/A,13.24,N/A,0.766237,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

0      0.841584
1      0.112871
2      0.623762
3      0.740594
4      0.427723
         ...
500         0.6
501    0.994059
502    0.693069
503    0.257426
504    0.843564
Name: PE Percentile, Length: 505, dtype: object
0       0.752475
1      0.0158416
2       0.510891
3       0.940594
4      0.0257426
         ...
500     0.049505
501     0.415842
502     0.811881
503     0.132673
504     0.956436
Name: PB Percentile, Length: 505, dtype: object
0       0.877228
1      0.0732673
2        0.50099
3       0.861386
4       0.350495
         ...
500     0.744554
501     0.572277
502     0.762376
503      0.69505
504     0.924752
Name: EV/EBITDA Percentile, Length: 505, dtype: object
0       0.552475
1      0.0574257
2      0.0653465
3       0.865347
4       0.340594
         ...
500     0.744554
501     0.326733
502          0.4
503     0.644554
504     0.869307
Name: EV/GP Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,100.010,N/A,46.95,0.841584,6.596140,0.752475,26.372976,0.877228,11.311629,0.552475,N/A
1,AAL,13.360,N/A,-1.71,0.112871,-60.417952,0.0158416,5.952664,0.0732673,3.098483,0.0574257,N/A
2,AAP,161.440,N/A,29.00,0.623762,3.123759,0.510891,15.086368,0.50099,3.208667,0.0653465,N/A
3,AAPL,466.070,N/A,34.69,0.740594,22.373999,0.940594,25.708773,0.861386,19.428993,0.865347,N/A
4,ABBV,96.680,N/A,21.00,0.427723,-21.463532,0.0257426,12.272585,0.350495,7.672427,0.340594,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,94.320,N/A,28.00,0.6,-3.659682,0.049505,18.841249,0.744554,13.891510,0.744554,N/A
501,ZBH,143.470,N/A,718.10,0.994059,2.390128,0.415842,17.170711,0.572277,7.478460,0.326733,N/A
502,ZBRA,288.222,N/A,31.86,0.693069,8.600669,0.811881,19.480804,0.762376,8.449885,0.4,N/A
503,ZION,35.770,N/A,13.24,0.257426,0.766237,0.132673,18.729176,0.69505,12.206556,0.644554,N/A
504,ZTS,160.920,N/A,47.20,0.843564,29.222282,0.956436,32.483029,0.924752,19.667225,0.869307,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,100.010,N/A,46.95,0.841584,6.596140,0.752475,26.372976,0.877228,11.311629,0.552475,0.755941
1,AAL,13.360,N/A,-1.71,0.112871,-60.417952,0.0158416,5.952664,0.0732673,3.098483,0.0574257,0.0648515
2,AAP,161.440,N/A,29.00,0.623762,3.123759,0.510891,15.086368,0.50099,3.208667,0.0653465,0.425248
3,AAPL,466.070,N/A,34.69,0.740594,22.373999,0.940594,25.708773,0.861386,19.428993,0.865347,0.85198
4,ABBV,96.680,N/A,21.00,0.427723,-21.463532,0.0257426,12.272585,0.350495,7.672427,0.340594,0.286139
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,94.320,N/A,28.00,0.6,-3.659682,0.049505,18.841249,0.744554,13.891510,0.744554,0.534653
501,ZBH,143.470,N/A,718.10,0.994059,2.390128,0.415842,17.170711,0.572277,7.478460,0.326733,0.577228
502,ZBRA,288.222,N/A,31.86,0.693069,8.600669,0.811881,19.480804,0.762376,8.449885,0.4,0.666832
503,ZION,35.770,N/A,13.24,0.257426,0.766237,0.132673,18.729176,0.69505,12.206556,0.644554,0.432426
504,ZTS,160.920,N/A,47.20,0.843564,29.222282,0.956436,32.483029,0.924752,19.667225,0.869307,0.898515

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

Enter the value of your portfolio:1000000

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,HPE,9.830,1994,-293.68,0.0118812,0.768699,0.134653,4.757379,0.0455446,2.575722,0.039604,0.0579208
1,FTI,8.870,2210,-0.68,0.134653,0.526579,0.0732673,2.722313,0.00792079,1.745265,0.0178218,0.0584158
2,AAL,13.360,1467,-1.71,0.112871,-60.417952,0.0158416,5.952664,0.0732673,3.098483,0.0574257,0.0648515
3,CCL,15.610,1256,-3.90,0.10297,0.380999,0.0554455,3.751649,0.0237624,3.458441,0.0811881,0.0658416
4,HFC,25.660,764,-26.18,0.0435644,0.716944,0.120792,3.301222,0.0118812,3.693071,0.0891089,0.0663366
5,HPQ,19.140,1024,9.17,0.172277,-23.323972,0.0237624,5.822424,0.0673267,2.516859,0.0356436,0.0747525
6,XRX,17.800,1101,9.35,0.174257,0.640297,0.0990099,3.620185,0.019802,1.604068,0.0138614,0.0767327
7,TPR,16.010,1224,-20.58,0.049505,1.200922,0.231683,3.870569,0.029703,1.149885,0.0019802,0.0782178
8,LB,27.330,717,-10.49,0.0633663,-5.047485,0.0455446,8.144139,0.170297,3.119623,0.0613861,0.0851485
9,SYF,25.300,775,7.77,0.152475,0.971730,0.180198,2.129599,0.0039604,1.604512,0.0158416,0.0881188
10,TAP,39.340,498,-52.36,0.0356436,0.578118,0.0891089,7.089363,0.108911,4.272303,0.120792,0.0886139
11,NWS,15.981,1226,-7.49,0.0752475,0.414744,0.0653465,8.449938,0.190099,2.998177,0.0514851,0.0955446
12,UAL,36.500,537,-5.93,0.0891089,0.931935,0.170297,3.812066,0.0277228,4.040411,0.10495,0.0980198
13,IVZ,10.900,1798,10.63,0.19802,0.371514,0.0534653,6.906037,0.10297,2.917683,0.0475248,0.100495
14,COTY,4.270,4592,-1.07,0.122772,0.699648,0.112871,7.926827,0.148515,2.045210,0.0277228,0.10297
15,DAL,29.300,669,-5.14,0.0970297,1.266128,0.243564,3.522233,0.0178218,3.119418,0.0594059,0.104455
16,DISCA,22.700,863,9.60,0.180198,0.363484,0.0514851,5.844247,0.0693069,4.354043,0.124752,0.106436
17,PVH,56.280,348,-5.12,0.0990099,0.664241,0.10297,9.261763,0.223762,1.476319,0.0118812,0.109406
18,BKR,17.780,1102,-1.10,0.120792,0.537604,0.0792079,7.481882,0.122772,4.347533,0.122772,0.111386
19,BEN,22.480,872,10.95,0.205941,1.127782,0.217822,3.458549,0.0138614,1.475177,0.00990099,0.111881
20,NWSA,15.300,1281,-7.31,0.0772277,0.802438,0.140594,8.385668,0.186139,2.917670,0.0455446,0.112376
21,DISCK,21.080,930,9.11,0.168317,0.706494,0.116832,5.620235,0.0594059,4.154303,0.112871,0.114356
22,NCLH,15.590,1257,-1.68,0.114851,0.660699,0.10099,6.134222,0.0851485,5.089065,0.182178,0.120792
23,MRO,6.030,3251,-7.26,0.0792079,0.386172,0.0594059,3.135953,0.00990099,7.809283,0.346535,0.123762
24,MPC,37.350,524,-3.23,0.106931,0.733937,0.126733,5.509754,0.0554455,5.622738,0.215842,0.126238
25,DXC,20.160,972,-0.87,0.130693,1.088626,0.205941,4.093135,0.0356436,4.734496,0.158416,0.132673
26,MHK,92.450,212,13.45,0.265347,0.787058,0.136634,6.000217,0.0772277,3.333651,0.0693069,0.137129
27,GPS,15.440,1269,-7.10,0.0831683,1.721678,0.316832,7.537870,0.128713,1.919594,0.0257426,0.138614
28,VIAC,27.563,711,13.15,0.255446,1.126636,0.215842,2.049573,0.0019802,3.621115,0.0871287,0.140099
29,FANG,45.280,433,-2.64,0.108911,0.532947,0.0752475,4.236347,0.0415842,7.856301,0.350495,0.144059
30,WDC,36.370,539,-43.31,0.0376238,1.190996,0.227723,8.742497,0.19802,4.502085,0.134653,0.149505
31,WRK,30.710,638,10.03,0.190099,0.690004,0.108911,6.021276,0.0831683,5.745581,0.219802,0.150495
32,CTL,11.220,1747,9.80,0.184158,0.912656,0.168317,5.277040,0.0534653,6.042985,0.239604,0.161386
33,FOX,26.460,741,16.41,0.328713,0.676120,0.10495,6.950444,0.10495,4.414420,0.126733,0.166337
34,RCL,60.600,323,-6.41,0.0871287,1.033061,0.194059,7.174071,0.110891,6.567250,0.275248,0.166832
35,UA,9.830,1994,-6.49,0.0851485,1.060941,0.19604,12.701717,0.362376,2.100650,0.029703,0.168317
36,SCHW,36.250,540,15.11,0.306931,2.069167,0.372277,2.325805,0.00594059,1.220535,0.0039604,0.172277
37,EXPE,88.450,221,-8.06,0.0712871,3.056182,0.50297,7.267947,0.114851,1.456282,0.00792079,0.174257
38,UAA,11.140,1760,-7.52,0.0732673,0.988515,0.184158,13.812802,0.433663,2.184035,0.0316832,0.180693
39,FOXA,25.740,761,16.35,0.326733,0.880273,0.164356,6.900888,0.10099,4.540753,0.136634,0.182178
40,VNO,35.870,546,21.49,0.431683,1.072895,0.20396,3.485153,0.0158416,3.603223,0.0831683,0.183663
41,DVN,12.040,1628,-1.49,0.116832,0.820986,0.148515,4.098153,0.0376238,9.447806,0.455446,0.189604
42,NWL,17.834,1099,-7.13,0.0811881,1.484674,0.285149,10.817287,0.277228,4.190990,0.114851,0.189604
43,WU,24.380,804,16.04,0.316832,-244.906130,0.00792079,9.080150,0.213861,6.028085,0.237624,0.194059
44,CVS,66.200,296,10.61,0.19604,1.353402,0.263366,9.882833,0.241584,3.620672,0.0851485,0.196535
45,MGM,22.160,884,5.59,0.146535,1.406820,0.275248,8.075014,0.162376,5.754476,0.221782,0.201485
46,PSX,64.660,303,-23.44,0.0475248,1.148756,0.219802,8.790870,0.20198,7.691650,0.342574,0.20297
47,NI,24.830,789,-80.23,0.0316832,1.587958,0.30099,9.177249,0.219802,6.421577,0.267327,0.20495
48,CXO,52.680,372,-1.06,0.125743,0.582959,0.0910891,5.069334,0.0514851,11.573139,0.566337,0.208663
49,NLSN,16.140,1214,-9.03,0.0673267,2.590361,0.457426,8.050020,0.160396,4.710304,0.152475,0.209406
50,HWM,17.680,N/A,14.73,0.29901,1.738266,0.320792,5.696284,0.0613861,5.228678,0.192079,0.218317

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

## Saving Our Excel Output
As before, saving our Excel output is very easy: