# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [357]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
import pandas_datareader.data as pdr
import yfinance as yf
import matplotlib
from scipy import stats
import yahoo_fin.stock_info as si

yf.pdr_override()

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [358]:
stocks=pd.read_csv("constituents.csv")
for i in range(0,len(stocks["Symbol"])):
    if "." in stocks["Symbol"][i]:
        stocks["Symbol"][i]=stocks["Symbol"][i].replace(".","-")
stocks

    Symbol                  Name                  Sector
0      MMM                    3M             Industrials
1      AOS           A. O. Smith             Industrials
2      ABT                Abbott             Health Care
3     ABBV                AbbVie             Health Care
4      ACN             Accenture  Information Technology
..     ...                   ...                     ...
498    YUM           Yum! Brands  Consumer Discretionary
499   ZBRA    Zebra Technologies  Information Technology
500    ZBH         Zimmer Biomet             Health Care
501   ZION  Zions Bancorporation              Financials
502    ZTS                Zoetis             Health Care

[503 rows x 3 columns]

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [359]:
symbol="AAPL"
data=pdr.get_quote_yahoo(symbol)
# data["priceEpsCurrentYear"]
data.columns

Index(['language', 'region', 'quoteType', 'typeDisp', 'quoteSourceName',
       'triggerable', 'customPriceAlertConfidence', 'currency',
       'averageDailyVolume3Month', 'exchange', 'shortName', 'longName',
       'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName',
       'gmtOffSetMilliseconds', 'market', 'esgPopulated', 'marketState',
       'regularMarketChangePercent', 'regularMarketPrice',
       'firstTradeDateMilliseconds', 'priceHint', 'preMarketChange',
       'preMarketChangePercent', 'preMarketTime', 'preMarketPrice',
       'regularMarketChange', 'regularMarketTime', 'regularMarketDayHigh',
       'regularMarketDayRange', 'regularMarketDayLow', 'regularMarketVolume',
       'regularMarketPreviousClose', 'bid', 'ask', 'bidSize', 'askSize',
       'fullExchangeName', 'financialCurrency', 'regularMarketOpen',
       'averageDailyVolume10Day', 'fiftyTwoWeekLowChange',
       'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange',
       'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent',
       'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'dividendDate',
       'earningsTimestamp', 'earningsTimestampStart', 'earningsTimestampEnd',
       'trailingAnnualDividendRate', 'trailingPE',
       'trailingAnnualDividendYield', 'epsTrailingTwelveMonths', 'epsForward',
       'epsCurrentYear', 'priceEpsCurrentYear', 'sharesOutstanding',
       'bookValue', 'fiftyDayAverage', 'fiftyDayAverageChange',
       'fiftyDayAverageChangePercent', 'twoHundredDayAverage',
       'twoHundredDayAverageChange', 'twoHundredDayAverageChangePercent',
       'marketCap', 'forwardPE', 'priceToBook', 'sourceInterval',
       'exchangeDataDelayedBy', 'averageAnalystRating', 'tradeable',
       'cryptoTradeable', 'displayName', 'price'],
      dtype='object')

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [360]:
price=data["price"]
pe_ratio=data["priceEpsCurrentYear"]
pe_ratio

AAPL    22.032415
Name: priceEpsCurrentYear, dtype: float64

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [361]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Symbol'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [362]:
final_df=pd.DataFrame(columns=my_columns)
for symbol_group in symbol_groups:
    data=pdr.get_quote_yahoo(symbol_group)[["price","priceEpsCurrentYear"]]
    data["nan"]=np.nan
    data.reset_index(inplace=True)
    data=data.set_axis(my_columns,axis=1)
    final_df=pd.concat([final_df,data])
final_df.reset_index(inplace=True,drop=True)

In [363]:
final_df_tmp=final_df
final_df_tmp

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0      MMM   126.6               12.423945                     NaN
1      AOS   60.03                19.49026                     NaN
2      ABT  113.39               21.722223                     NaN
3     ABBV  152.83                11.04263                     NaN
4      ACN  284.88               24.836966                     NaN
..     ...     ...                     ...                     ...
498    YUM  130.33               29.221973                     NaN
499   ZBRA  293.58                16.91129                     NaN
500    ZBH  123.01                18.01025                     NaN
501   ZION   50.86                9.049823                     NaN
502    ZTS  159.57                32.96901                     NaN

[503 rows x 4 columns]

In [364]:
final_df

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0      MMM   126.6               12.423945                     NaN
1      AOS   60.03                19.49026                     NaN
2      ABT  113.39               21.722223                     NaN
3     ABBV  152.83                11.04263                     NaN
4      ACN  284.88               24.836966                     NaN
..     ...     ...                     ...                     ...
498    YUM  130.33               29.221973                     NaN
499   ZBRA  293.58                16.91129                     NaN
500    ZBH  123.01                18.01025                     NaN
501   ZION   50.86                9.049823                     NaN
502    ZTS  159.57                32.96901                     NaN

[503 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [365]:
final_df.sort_values("Price-to-Earnings Ratio",ascending=False, inplace=True)
final_df=final_df[final_df["Price-to-Earnings Ratio"]>0]
final_df=final_df[:50]
final_df.reset_index(inplace=True,drop=True)

In [366]:
final_df

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     WDC    37.32               746.39996                     NaN
1     AAL    17.08                   244.0                     NaN
2     UDR    40.47               175.95653                     NaN
3    WELL    71.71                170.7381                     NaN
4    DXCM   109.51                136.8875                     NaN
5     LYV    76.12                89.55294                     NaN
6    ILMN   206.44                88.22223                     NaN
7    EQIX    718.0                83.00578                     NaN
8    CDAY    67.68                78.69767                     NaN
9     DLR   106.85                76.87051                     NaN
10   TMUS   146.98                74.60913                     NaN
11   SBAC   302.82                 68.9795                     NaN
12    VNO     23.3                68.52941                     NaN
13   SEDG   320.17               68.266525                     NaN
14   CSGP    79.62               63.696003                     NaN
15   IDXX   480.19               60.174187                     NaN
16    ALL   135.52                58.92174                     NaN
17    NOW   418.24               57.058662                     NaN
18   ENPH   251.06               56.545044                     NaN
19   ISRG   261.73               55.451275                     NaN
20   NVDA   177.02                54.13456                     NaN
21    KIM    21.95               53.536587                     NaN
22   INVH    31.63               52.716663                     NaN
23   PAYC    310.3               52.593216                     NaN
24    ROL    37.23               50.999996                     NaN
25     EL   267.04               50.195488                     NaN
26   MKTX   328.04               49.329323                     NaN
27      O    66.89               48.824818                     NaN
28    CMG  1551.54               46.439392                     NaN
29    ESS   220.08               46.138367                     NaN
30    LLY   357.74               46.041183                     NaN
31   MSCI   510.28               44.919014                     NaN
32   MNST   102.17               44.421738                     NaN
33    ARE   156.16                43.86517                     NaN
34   FTNT     50.1               43.565216                     NaN
35    XYL    116.0                42.80443                     NaN
36    TYL   319.12               41.989475                     NaN
37   CDNS   172.97               40.891254                     NaN
38    NKE   128.14               40.808914                     NaN
39    MTD   1531.3               39.193756                     NaN
40    CCI   150.31                38.73969                     NaN
41   TECH    80.85                    38.5                     NaN
42    MCO   313.58               37.420044                     NaN
43   BF-B     68.0               36.756756                     NaN
44   JKHY   181.79               36.725254                     NaN
45    AMT   231.05                36.44322                     NaN
46    CEG    83.37                36.09091                     NaN
47     MA    375.0               35.477768                     NaN
48    CLX   147.99                35.40431                     NaN
49    AWK   157.24               35.255608                     NaN

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [367]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [368]:
portfolio_input()

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [369]:
position_size=float(portfolio_size)/len(final_df.index)
# position_size
for row in final_df.index:
    final_df.loc[row,"Number of Shares to Buy"]=math.floor(position_size/final_df.loc[row,"Price"])
final_df

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     WDC    37.32               746.39996                    5359
1     AAL    17.08                   244.0                   11709
2     UDR    40.47               175.95653                    4941
3    WELL    71.71                170.7381                    2789
4    DXCM   109.51                136.8875                    1826
5     LYV    76.12                89.55294                    2627
6    ILMN   206.44                88.22223                     968
7    EQIX    718.0                83.00578                     278
8    CDAY    67.68                78.69767                    2955
9     DLR   106.85                76.87051                    1871
10   TMUS   146.98                74.60913                    1360
11   SBAC   302.82                 68.9795                     660
12    VNO     23.3                68.52941                    8583
13   SEDG   320.17               68.266525                     624
14   CSGP    79.62               63.696003                    2511
15   IDXX   480.19               60.174187                     416
16    ALL   135.52                58.92174                    1475
17    NOW   418.24               57.058662                     478
18   ENPH   251.06               56.545044                     796
19   ISRG   261.73               55.451275                     764
20   NVDA   177.02                54.13456                    1129
21    KIM    21.95               53.536587                    9111
22   INVH    31.63               52.716663                    6323
23   PAYC    310.3               52.593216                     644
24    ROL    37.23               50.999996                    5372
25     EL   267.04               50.195488                     748
26   MKTX   328.04               49.329323                     609
27      O    66.89               48.824818                    2989
28    CMG  1551.54               46.439392                     128
29    ESS   220.08               46.138367                     908
30    LLY   357.74               46.041183                     559
31   MSCI   510.28               44.919014                     391
32   MNST   102.17               44.421738                    1957
33    ARE   156.16                43.86517                    1280
34   FTNT     50.1               43.565216                    3992
35    XYL    116.0                42.80443                    1724
36    TYL   319.12               41.989475                     626
37   CDNS   172.97               40.891254                    1156
38    NKE   128.14               40.808914                    1560
39    MTD   1531.3               39.193756                     130
40    CCI   150.31                38.73969                    1330
41   TECH    80.85                    38.5                    2473
42    MCO   313.58               37.420044                     637
43   BF-B     68.0               36.756756                    2941
44   JKHY   181.79               36.725254                    1100
45    AMT   231.05                36.44322                     865
46    CEG    83.37                36.09091                    2398
47     MA    375.0               35.477768                     533
48    CLX   147.99                35.40431                    1351
49    AWK   157.24               35.255608                    1271

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [370]:
symbol="TSLA"
dataval=si.get_stats_valuation(symbol)
# dataval2.set_index(0,inplace=True)
dataval

                           0        1
0      Market Cap (intraday)  386.51B
1           Enterprise Value  371.28B
2               Trailing P/E    37.86
3                Forward P/E    24.51
4  PEG Ratio (5 yr expected)     1.22
5          Price/Sales (ttm)     5.64
6           Price/Book (mrq)     9.70
7   Enterprise Value/Revenue     4.96
8    Enterprise Value/EBITDA    22.91

In [371]:
data=pd.DataFrame(columns=["EV/EBITDA","PB","PS"])
data["EV/EBITDA"]=pd.Series(dataval.loc[8,1])
data["PB"]=dataval.loc[6,1]
data["PS"]=dataval.loc[5,1]
data["EV"]=dataval.loc[1,1]
data

  EV/EBITDA    PB    PS       EV
0     22.91  9.70  5.64  371.28B

In [372]:
symbol="MSFT"
dataval2=si.get_stats(symbol)
# dataval2.set_index("Attribute",inplace=True)
dataval2

                                         Attribute         Value
0                              Avg Vol (3 month) 3        30.29M
1                               Avg Vol (10 day) 3         32.1M
2                             Shares Outstanding 5         7.45B
3                     Implied Shares Outstanding 6           NaN
4                                          Float 8         7.45B
5                             % Held by Insiders 1         0.06%
6                         % Held by Institutions 1        73.35%
7                    Shares Short (Dec 29, 2022) 4        38.19M
8                     Short Ratio (Dec 29, 2022) 4          1.32
9                Short % of Float (Dec 29, 2022) 4         0.51%
10  Short % of Shares Outstanding (Dec 29, 2022) 4         0.51%
11       Shares Short (prior month Nov 29, 2022) 4        40.45M
12                  Forward Annual Dividend Rate 4          2.72
13                 Forward Annual Dividend Yield 4         1.14%
14                 Trailing Annual Dividend Rate 3          2.54
15                Trailing Annual Dividend Yield 3         1.06%
16                 5 Year Average Dividend Yield 4          1.15
17                                  Payout Ratio 4        26.70%
18                                 Dividend Date 3  Mar 08, 2023
19                              Ex-Dividend Date 4  Feb 14, 2023
20                             Last Split Factor 2           2:1
21                               Last Split Date 3  Feb 17, 2003
22                                Fiscal Year Ends  Jun 29, 2022
23                       Most Recent Quarter (mrq)  Sep 29, 2022
24                                   Profit Margin        34.37%
25                          Operating Margin (ttm)        41.69%
26                          Return on Assets (ttm)        15.22%
27                          Return on Equity (ttm)        42.88%
28                                   Revenue (ttm)       203.07B
29                         Revenue Per Share (ttm)         27.14
30                  Quarterly Revenue Growth (yoy)        10.60%
31                              Gross Profit (ttm)       135.62B
32                                          EBITDA        98.84B
33                  Net Income Avi to Common (ttm)        69.79B
34                               Diluted EPS (ttm)          9.29
35                 Quarterly Earnings Growth (yoy)       -14.40%
36                                Total Cash (mrq)       107.24B
37                      Total Cash Per Share (mrq)         14.39
38                                Total Debt (mrq)        77.14B
39                         Total Debt/Equity (mrq)         44.44
40                             Current Ratio (mrq)          1.84
41                      Book Value Per Share (mrq)         23.28
42                       Operating Cash Flow (ttm)        87.69B
43                    Levered Free Cash Flow (ttm)        46.16B

In [373]:
#EBITDA 
dataval2.loc[39,"Value"]
#GP
strtoint(dataval2.loc[38,"Value"])

77140000000

In [374]:
rv_columns=[
    "Ticker",
    "Price",
    "Number of Shares to Buy",
    "Price-to-Earnings Ratio",
    "PE Percentile",
    "Price-to-Book Ratio",
    "PB Percentile",
    "Price-to-Sales Ratio",
    "PS Percentile",
    "EV/EBITDA",
    "EV/EBITDA Percentile",
    "EV/GP",
    "EV/GP Percentile",
    "RV Score"
]
rv_df=pd.DataFrame(columns=rv_columns)
rv_df

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

In [375]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
m = {'K': 3, 'M': 6, 'B': 9, 'T': 12,"k":3}
def strtoint(x):
        val=0
        try:
                val=float(x)
        except:
                try: 
                        val=int(float(x[:-1]) * 10 ** m[x[-1]] )
                except:
                        return np.nan


        return val
strtoint("30.29M")

30290000

In [377]:
rv_df=pd.DataFrame(columns=["price","priceEpsCurrentYear",'priceToBook',"EV/EBITDA","PB","PS","EV","EV/GP"])

In [378]:
import time
def data_collect(k,j):
        last_time=time.time()
        global rv_df
        for i,symbol in enumerate(stocks["Symbol"][k:j]):
                try:
                        data=pdr.get_quote_yahoo(symbol)[["price","priceEpsCurrentYear",'priceToBook']]
                except:
                        try: 
                                data=pdr.get_quote_yahoo(symbol)[["price","epsForward",'priceToBook']]
                        except:
                                data=pdr.get_quote_yahoo(symbol)[["price","trailingPE",'priceToBook']]
                # data.reindex(["price","nan0","priceEpsCurrentYear","nan1",'priceToBook',"nan2"],axis=1) 
                dataval=si.get_stats_valuation(symbol)
        
                data["EV/EBITDA"]=strtoint(dataval.loc[8,1])
                data["PB"]=float(dataval.loc[6,1])
                data["PS"]=float(dataval.loc[5,1])
                data["EV"]=strtoint(dataval.loc[1,1])  
                dataval2=si.get_stats(symbol)
                data["EV/GP"]=data["EV"]/strtoint(dataval2.loc[38,"Value"])
                rv_df=pd.concat([rv_df,data])
                tdif=time.time()-last_time
                print("Finished",i,symbol,tdif)
                # if tdif>7:
                #         return
                last_time=time.time()
                # time.sleep(2)

In [379]:
# takes too long
# data_collect(0,504)
# rv_df.to_csv("003_data.csv")
rv_df=pd.read_csv("003_data.csv",index_col=0)
rv_df

,price,priceEpsCurrentYear,priceToBook,EV/EBITDA,PB,PS,EV,EV/GP,epsForward,trailingPE
MMM,126.60,12.423945,4.969968,8.71,5.08,2.14,8.451000e+10,5.097105,NaN,NaN
AOS,60.03,19.490260,5.247378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABT,113.39,21.722223,5.541762,15.50,5.55,4.47,2.044200e+11,8.173531,NaN,NaN
ABBV,152.83,11.042630,16.898497,13.01,16.98,4.72,3.293700e+11,8.471451,NaN,NaN
ACN,284.88,24.836966,7.804932,16.97,7.73,2.90,1.750700e+11,8.886802,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
YUM,130.33,29.221973,-4.333211,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBRA,293.58,16.911290,5.725262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBH,123.01,18.010250,2.107635,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZION,50.86,9.049823,1.787886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZTS,159.57,32.969010,15.961790,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [380]:
rv_df.isnull().any()

price                  False
priceEpsCurrentYear     True
priceToBook            False
EV/EBITDA               True
PB                      True
PS                      True
EV                      True
EV/GP                   True
epsForward              True
trailingPE              True
dtype: bool

In [381]:

for i in rv_df.index:
    if np.isnan(rv_df.loc[i,"priceEpsCurrentYear"]):
        if not(np.isnan(rv_df.loc[i,"epsForward"])):
            rv_df.loc[i,"priceEpsCurrentYear"]=rv_df.loc[i,"price"]/rv_df.loc[i,"epsForward"]
        if not(np.isnan(rv_df.loc[i,"trailingPE"])):
            rv_df.loc[i,"priceEpsCurrentYear"]=rv_df.loc[i,"price"]/rv_df.loc[i,"trailingPE"]
rv_df.isnull().any()

price                  False
priceEpsCurrentYear    False
priceToBook            False
EV/EBITDA               True
PB                      True
PS                      True
EV                      True
EV/GP                   True
epsForward              True
trailingPE              True
dtype: bool

In [382]:
rv_df.drop(["PB","EV"],axis=1,inplace=True)
rv_df.drop(["epsForward","trailingPE"],axis=1,inplace=True)
rv_df.columns

Index(['price', 'priceEpsCurrentYear', 'priceToBook', 'EV/EBITDA', 'PS',
       'EV/GP'],
      dtype='object')

In [383]:
rv_df[  ["Number of Shares to Buy",
    "PE Percentile",
    "PB Percentile",
    "PS Percentile",
    "EV/EBITDA Percentile",
    "EV/GP Percentile",
    "RV Score"]]=np.nan
rv_df=rv_df.reindex([
'index', 'price',  'Number of Shares to Buy', 'priceEpsCurrentYear', 'PE Percentile','priceToBook',
       'PB Percentile', 'PS', 'PS Percentile',  'EV/EBITDA',
        'EV/EBITDA Percentile','EV/GP',
       'EV/GP Percentile', 'RV Score'],axis=1
)
rv_df.set_axis(rv_columns,axis=1,inplace=True)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,NaN,4.969968,NaN,2.14,NaN,8.71,NaN,5.097105,NaN,NaN
AOS,NaN,60.03,NaN,19.490260,NaN,5.247378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABT,NaN,113.39,NaN,21.722223,NaN,5.541762,NaN,4.47,NaN,15.50,NaN,8.173531,NaN,NaN
ABBV,NaN,152.83,NaN,11.042630,NaN,16.898497,NaN,4.72,NaN,13.01,NaN,8.471451,NaN,NaN
ACN,NaN,284.88,NaN,24.836966,NaN,7.804932,NaN,2.90,NaN,16.97,NaN,8.886802,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,NaN,-4.333211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBRA,NaN,293.58,NaN,16.911290,NaN,5.725262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBH,NaN,123.01,NaN,18.010250,NaN,2.107635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZION,NaN,50.86,NaN,9.049823,NaN,1.787886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZTS,NaN,159.57,NaN,32.969010,NaN,15.961790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [384]:
# rv_df.to_csv("final.csv")

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [385]:
rv_df[rv_df.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,NaN,4.969968,NaN,2.14,NaN,8.71,NaN,5.097105,NaN,NaN
AOS,NaN,60.03,NaN,19.490260,NaN,5.247378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABT,NaN,113.39,NaN,21.722223,NaN,5.541762,NaN,4.47,NaN,15.50,NaN,8.173531,NaN,NaN
ABBV,NaN,152.83,NaN,11.042630,NaN,16.898497,NaN,4.72,NaN,13.01,NaN,8.471451,NaN,NaN
ACN,NaN,284.88,NaN,24.836966,NaN,7.804932,NaN,2.90,NaN,16.97,NaN,8.886802,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,NaN,-4.333211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBRA,NaN,293.58,NaN,16.911290,NaN,5.725262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBH,NaN,123.01,NaN,18.010250,NaN,2.107635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZION,NaN,50.86,NaN,9.049823,NaN,1.787886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZTS,NaN,159.57,NaN,32.969010,NaN,15.961790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [386]:
# rv_df=pd.read_csv("final.csv",index_col=0)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,NaN,4.969968,NaN,2.14,NaN,8.71,NaN,5.097105,NaN,NaN
AOS,NaN,60.03,NaN,19.490260,NaN,5.247378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABT,NaN,113.39,NaN,21.722223,NaN,5.541762,NaN,4.47,NaN,15.50,NaN,8.173531,NaN,NaN
ABBV,NaN,152.83,NaN,11.042630,NaN,16.898497,NaN,4.72,NaN,13.01,NaN,8.471451,NaN,NaN
ACN,NaN,284.88,NaN,24.836966,NaN,7.804932,NaN,2.90,NaN,16.97,NaN,8.886802,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,NaN,-4.333211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBRA,NaN,293.58,NaN,16.911290,NaN,5.725262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBH,NaN,123.01,NaN,18.010250,NaN,2.107635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZION,NaN,50.86,NaN,9.049823,NaN,1.787886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZTS,NaN,159.57,NaN,32.969010,NaN,15.961790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [387]:
# rv_df_t=rv_df
# rv_df=rv_df_t

In [388]:

for column in [ 'Price-to-Earnings Ratio',
        'Price-to-Book Ratio', 
       'Price-to-Sales Ratio', 'EV/EBITDA','EV/GP']:
    rv_df[column].fillna(rv_df[column].mean(),inplace=True)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,NaN,4.969968,NaN,2.140000,NaN,8.710000,NaN,5.097105,NaN,NaN
AOS,NaN,60.03,NaN,19.490260,NaN,5.247378,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ABT,NaN,113.39,NaN,21.722223,NaN,5.541762,NaN,4.470000,NaN,15.500000,NaN,8.173531,NaN,NaN
ABBV,NaN,152.83,NaN,11.042630,NaN,16.898497,NaN,4.720000,NaN,13.010000,NaN,8.471451,NaN,NaN
ACN,NaN,284.88,NaN,24.836966,NaN,7.804932,NaN,2.900000,NaN,16.970000,NaN,8.886802,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,NaN,-4.333211,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZBRA,NaN,293.58,NaN,16.911290,NaN,5.725262,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZBH,NaN,123.01,NaN,18.010250,NaN,2.107635,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZION,NaN,50.86,NaN,9.049823,NaN,1.787886,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZTS,NaN,159.57,NaN,32.969010,NaN,15.961790,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN

In [389]:
rv_df.isnull().any()

Ticker                      True
Price                      False
Number of Shares to Buy     True
Price-to-Earnings Ratio    False
PE Percentile               True
Price-to-Book Ratio        False
PB Percentile               True
Price-to-Sales Ratio       False
PS Percentile               True
EV/EBITDA                  False
EV/EBITDA Percentile        True
EV/GP                      False
EV/GP Percentile            True
RV Score                    True
dtype: bool

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [390]:
rv_df[rv_df.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,NaN,4.969968,NaN,2.140000,NaN,8.710000,NaN,5.097105,NaN,NaN
AOS,NaN,60.03,NaN,19.490260,NaN,5.247378,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ABT,NaN,113.39,NaN,21.722223,NaN,5.541762,NaN,4.470000,NaN,15.500000,NaN,8.173531,NaN,NaN
ABBV,NaN,152.83,NaN,11.042630,NaN,16.898497,NaN,4.720000,NaN,13.010000,NaN,8.471451,NaN,NaN
ACN,NaN,284.88,NaN,24.836966,NaN,7.804932,NaN,2.900000,NaN,16.970000,NaN,8.886802,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,NaN,-4.333211,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZBRA,NaN,293.58,NaN,16.911290,NaN,5.725262,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZBH,NaN,123.01,NaN,18.010250,NaN,2.107635,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZION,NaN,50.86,NaN,9.049823,NaN,1.787886,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN
ZTS,NaN,159.57,NaN,32.969010,NaN,15.961790,NaN,3.732479,NaN,-6.222523,NaN,9.766213,NaN,NaN

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [391]:

metrics={
"Price-to-Earnings Ratio":"PE Percentile",
"Price-to-Book Ratio":"PB Percentile",
"Price-to-Sales Ratio":"PS Percentile",
"EV/EBITDA":"EV/EBITDA Percentile",
"EV/GP":"EV/GP Percentile"
}
for metric in metrics.keys():
    for row in rv_df.index:
        rv_df.loc[row,metrics[metric]]=stats.percentileofscore(rv_df[metric],rv_df.loc[row,metric])/100
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,0.246521,4.969968,0.660040,2.140000,0.177932,8.710000,0.642147,5.097105,0.095427,NaN
AOS,NaN,60.03,NaN,19.490260,0.532803,5.247378,0.697813,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,NaN
ABT,NaN,113.39,NaN,21.722223,0.632207,5.541762,0.715706,4.470000,0.862823,15.500000,0.811133,8.173531,0.210736,NaN
ABBV,NaN,152.83,NaN,11.042630,0.196819,16.898497,0.936382,4.720000,0.874751,13.010000,0.743539,8.471451,0.220676,NaN
ACN,NaN,284.88,NaN,24.836966,0.709742,7.804932,0.809145,2.900000,0.244533,16.970000,0.842942,8.886802,0.238569,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,0.813121,-4.333211,0.065606,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,NaN
ZBRA,NaN,293.58,NaN,16.911290,0.431412,5.725262,0.723658,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,NaN
ZBH,NaN,123.01,NaN,18.010250,0.461233,2.107635,0.333996,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,NaN
ZION,NaN,50.86,NaN,9.049823,0.121272,1.787886,0.252485,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,NaN
ZTS,NaN,159.57,NaN,32.969010,0.876740,15.961790,0.928429,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,NaN

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [392]:
from statistics import mean
for i in rv_df.index:
    value_percentiles=[]
    for metric in metrics.keys():
        value_percentiles.append(rv_df.loc[i,metrics[metric]])
    rv_df.loc[i,"RV Score"]=mean(value_percentiles)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
MMM,NaN,126.60,NaN,12.423945,0.246521,4.969968,0.660040,2.140000,0.177932,8.710000,0.642147,5.097105,0.095427,0.364414
AOS,NaN,60.03,NaN,19.490260,0.532803,5.247378,0.697813,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.527038
ABT,NaN,113.39,NaN,21.722223,0.632207,5.541762,0.715706,4.470000,0.862823,15.500000,0.811133,8.173531,0.210736,0.646521
ABBV,NaN,152.83,NaN,11.042630,0.196819,16.898497,0.936382,4.720000,0.874751,13.010000,0.743539,8.471451,0.220676,0.594433
ACN,NaN,284.88,NaN,24.836966,0.709742,7.804932,0.809145,2.900000,0.244533,16.970000,0.842942,8.886802,0.238569,0.568986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,NaN,130.33,NaN,29.221973,0.813121,-4.333211,0.065606,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.456660
ZBRA,NaN,293.58,NaN,16.911290,0.431412,5.725262,0.723658,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.511928
ZBH,NaN,123.01,NaN,18.010250,0.461233,2.107635,0.333996,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.439960
ZION,NaN,50.86,NaN,9.049823,0.121272,1.787886,0.252485,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.355666
ZTS,NaN,159.57,NaN,32.969010,0.876740,15.961790,0.928429,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.641948

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [393]:
rv_df.sort_values("RV Score",ascending=True,inplace=True)
rv_df=rv_df[:50]
# rv_df.reset_index(drop=True,inplace=True)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
WBA,NaN,36.33,NaN,8.073334,0.099404,1.522568,0.190855,0.240000,0.008946,-23.380000,0.005964,2.224973,0.007952,0.062624
AIG,NaN,63.78,NaN,14.204900,0.314115,1.236646,0.137177,0.890000,0.063618,-6.222523,0.292247,3.890937,0.053678,0.172167
VTRS,NaN,11.84,NaN,3.513353,0.033797,0.748514,0.085487,0.840000,0.058648,7.170000,0.614314,4.292903,0.081511,0.174751
PARA,NaN,20.64,NaN,10.530612,0.172962,0.591489,0.081511,0.440000,0.021869,5.360000,0.596421,2.498155,0.009940,0.176541
PRU,NaN,101.08,NaN,10.606506,0.176938,2.260893,0.377734,0.600000,0.033797,-6.222523,0.292247,2.171536,0.005964,0.177336
GM,NaN,36.61,NaN,5.091794,0.049702,0.785285,0.087475,0.360000,0.015905,5.670000,0.600398,7.420907,0.168986,0.184493
WRK,NaN,37.10,NaN,9.464285,0.137177,0.827774,0.091451,0.460000,0.023857,5.540000,0.598410,4.251244,0.077535,0.185686
MET,NaN,71.57,NaN,10.180654,0.165010,2.247166,0.373757,0.830000,0.055666,-6.222523,0.292247,3.717045,0.049702,0.187276
MHK,NaN,111.18,NaN,8.545733,0.113320,0.903432,0.099404,0.650000,0.036779,9.910000,0.666004,3.063830,0.027833,0.188668
MOS,NaN,47.25,NaN,4.069768,0.035785,1.389012,0.157058,0.910000,0.065606,3.270000,0.574553,6.012384,0.115308,0.189662
OGN,NaN,32.08,NaN,6.327416,0.071571,-7.654498,0.057654,1.300000,0.107356,8.750000,0.645129,4.160305,0.071571,0.190656
NWS,NaN,19.62,NaN,0.790000,0.031809,1.442329,0.174950,1.130000,0.086481,10.020000,0.668986,2.604520,0.014911,0.195427
EQT,NaN,35.19,NaN,9.236220,0.131213,1.346882,0.151093,1.060000,0.079523,3.810000,0.578529,3.738758,0.051690,0.198410
IP,NaN,37.54,NaN,9.931217,0.151093,1.406941,0.163022,0.680000,0.041750,6.950000,0.610338,3.386980,0.039761,0.201193
PSX,NaN,102.51,NaN,5.174660,0.051690,1.716051,0.230616,0.300000,0.011928,3.920000,0.580517,6.681964,0.145129,0.203976
MU,NaN,56.85,NaN,-30.239360,0.011928,1.257938,0.139165,2.330000,0.210736,4.320000,0.582505,4.491367,0.087475,0.206362
CI,NaN,315.00,NaN,13.601036,0.286282,2.134450,0.341948,0.560000,0.028827,-6.222523,0.292247,5.205959,0.097416,0.209344
F,NaN,12.67,NaN,6.366834,0.073559,1.209200,0.133201,0.340000,0.013917,6.890000,0.606362,8.523925,0.224652,0.210338
DHI,NaN,95.36,NaN,9.922997,0.149105,1.691020,0.224652,1.010000,0.075547,4.740000,0.586481,3.603774,0.043738,0.215905
XRAY,NaN,36.82,NaN,18.785713,0.493042,2.190102,0.357853,1.950000,0.161034,-18.920000,0.009940,4.055085,0.063618,0.217097
RE,NaN,346.67,NaN,14.242810,0.316103,1.767570,0.242545,0.980000,0.072565,-6.222523,0.292247,7.309091,0.165010,0.217694
ABC,NaN,164.16,NaN,14.274783,0.320080,-160.000000,0.007952,0.150000,0.001988,11.360000,0.697813,4.262905,0.079523,0.221471
WHR,NaN,154.90,NaN,8.139779,0.105368,2.002068,0.310139,0.430000,0.019881,8.810000,0.650099,2.786848,0.021869,0.221471
FOXA,NaN,31.77,NaN,9.103152,0.123260,1.501134,0.188867,1.290000,0.105368,8.480000,0.633201,4.076132,0.066600,0.223459
NCLH,NaN,16.00,NaN,-3.603604,0.029821,16.859852,0.934394,1.690000,0.143141,-19.310000,0.007952,-20.113536,0.001988,0.223459
NUE,NaN,155.13,NaN,5.471958,0.057654,2.247381,0.375746,0.980000,0.072565,3.380000,0.576541,3.954751,0.055666,0.227634
NWL,NaN,15.57,NaN,9.854430,0.147117,1.705367,0.228628,0.650000,0.036779,10.640000,0.681909,3.680723,0.047714,0.228429
C,NaN,50.31,NaN,8.220589,0.107356,0.542660,0.079523,1.330000,0.113320,-6.222523,0.292247,9.766213,0.551690,0.228827
AFL,NaN,72.44,NaN,13.824429,0.298211,1.871206,0.270378,2.270000,0.196819,-6.222523,0.292247,5.286813,0.099404,0.231412
NRG,NaN,32.15,NaN,9.159545,0.127237,1.454751,0.178926,3.732479,0.560636,-6.222523,0.292247,2.748080,0.019881,0.235785
TAP,NaN,50.38,NaN,12.984536,0.272366,0.828932,0.093439,1.030000,0.077535,10.840000,0.685885,4.224691,0.075547,0.240954
CVS,NaN,89.37,NaN,10.355736,0.168986,1.662667,0.220676,0.380000,0.017893,15.750000,0.819085,3.328024,0.037773,0.252883
INTC,NaN,29.60,NaN,15.179487,0.363817,1.222989,0.135189,1.780000,0.150099,5.220000,0.592445,3.223693,0.035785,0.255467
MCK,NaN,383.47,NaN,15.468737,0.379722,-30.771145,0.025845,0.210000,0.003976,14.590000,0.789264,4.467125,0.085487,0.256859
WFC,NaN,44.12,NaN,9.134576,0.125249,1.068100,0.113320,2.300000,0.204771,-6.222523,0.292247,9.766213,0.551690,0.257455
FOX,NaN,29.88,NaN,14.575610,0.328032,1.411831,0.165010,1.210000,0.095427,8.480000,0.633201,4.076132,0.066600,0.257654
BEN,NaN,29.78,NaN,12.056681,0.232604,1.296530,0.147117,1.780000,0.150099,8.900000,0.654076,5.573864,0.105368,0.257853
XOM,NaN,112.93,NaN,8.118620,0.103380,2.499060,0.419483,1.170000,0.092445,5.320000,0.594433,4.703720,0.091451,0.260239
IVZ,NaN,19.15,NaN,11.606061,0.210736,0.799516,0.089463,1.400000,0.123260,10.710000,0.683897,8.502165,0.222664,0.266004
KR,NaN,46.18,NaN,11.154590,0.198807,3.321346,0.532803,0.230000,0.005964,7.190000,0.616302,1.622087,0.003976,0.271571
KEY,NaN,18.02,NaN,8.580953,0.115308,1.558015,0.198807,2.400000,0.216700,-6.222523,0.292247,9.766213,0.551690,0.274950
ALK,NaN,50.30,NaN,11.563218,0.208748,1.667495,0.222664,0.710000,0.044732,12.300000,0.727634,7.646432,0.186879,0.278131
PXD,NaN,237.90,NaN,7.559580,0.093439,2.464468,0.413519,2.450000,0.218688,5.150000,0.590457,6.448349,0.131213,0.289463
ETSY,NaN,132.51,NaN,-25.240000,0.013917,-27.468904,0.029821,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.289662
WYNN,NaN,98.01,NaN,-23.963326,0.015905,-14.445100,0.043738,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.292843
FITB,NaN,34.11,NaN,10.151786,0.161034,1.601333,0.206759,3.050000,0.254473,-6.222523,0.292247,9.766213,0.551690,0.293241
ADM,NaN,88.09,NaN,11.698539,0.212724,2.015328,0.316103,0.510000,0.025845,8.940000,0.656064,9.549249,0.264414,0.295030
WY,NaN,31.71,NaN,10.640939,0.178926,2.157877,0.347913,2.250000,0.194831,7.320000,0.620278,6.480488,0.135189,0.295427
CINF,NaN,106.19,NaN,24.467741,0.695825,1.768890,0.246521,2.190000,0.186879,-6.222523,0.292247,3.968668,0.057654,0.295825
BA,NaN,211.41,NaN,-23.888136,0.017893,-7.114589,0.059642,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.296421

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [394]:
portfolio_input()

In [395]:
position_size=float(portfolio_size)/len(rv_df.index)
for i in rv_df.index:
    rv_df.loc[i,"Number of Shares to Buy"]=math.floor(position_size/rv_df.loc[i,"Price"])
rv_df

/tmp/ipykernel_850/2894507539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rv_df.loc[i,"Number of Shares to Buy"]=math.floor(position_size/rv_df.loc[i,"Price"])

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
WBA,NaN,36.33,55.0,8.073334,0.099404,1.522568,0.190855,0.240000,0.008946,-23.380000,0.005964,2.224973,0.007952,0.062624
AIG,NaN,63.78,31.0,14.204900,0.314115,1.236646,0.137177,0.890000,0.063618,-6.222523,0.292247,3.890937,0.053678,0.172167
VTRS,NaN,11.84,168.0,3.513353,0.033797,0.748514,0.085487,0.840000,0.058648,7.170000,0.614314,4.292903,0.081511,0.174751
PARA,NaN,20.64,96.0,10.530612,0.172962,0.591489,0.081511,0.440000,0.021869,5.360000,0.596421,2.498155,0.009940,0.176541
PRU,NaN,101.08,19.0,10.606506,0.176938,2.260893,0.377734,0.600000,0.033797,-6.222523,0.292247,2.171536,0.005964,0.177336
GM,NaN,36.61,54.0,5.091794,0.049702,0.785285,0.087475,0.360000,0.015905,5.670000,0.600398,7.420907,0.168986,0.184493
WRK,NaN,37.10,53.0,9.464285,0.137177,0.827774,0.091451,0.460000,0.023857,5.540000,0.598410,4.251244,0.077535,0.185686
MET,NaN,71.57,27.0,10.180654,0.165010,2.247166,0.373757,0.830000,0.055666,-6.222523,0.292247,3.717045,0.049702,0.187276
MHK,NaN,111.18,17.0,8.545733,0.113320,0.903432,0.099404,0.650000,0.036779,9.910000,0.666004,3.063830,0.027833,0.188668
MOS,NaN,47.25,42.0,4.069768,0.035785,1.389012,0.157058,0.910000,0.065606,3.270000,0.574553,6.012384,0.115308,0.189662
OGN,NaN,32.08,62.0,6.327416,0.071571,-7.654498,0.057654,1.300000,0.107356,8.750000,0.645129,4.160305,0.071571,0.190656
NWS,NaN,19.62,101.0,0.790000,0.031809,1.442329,0.174950,1.130000,0.086481,10.020000,0.668986,2.604520,0.014911,0.195427
EQT,NaN,35.19,56.0,9.236220,0.131213,1.346882,0.151093,1.060000,0.079523,3.810000,0.578529,3.738758,0.051690,0.198410
IP,NaN,37.54,53.0,9.931217,0.151093,1.406941,0.163022,0.680000,0.041750,6.950000,0.610338,3.386980,0.039761,0.201193
PSX,NaN,102.51,19.0,5.174660,0.051690,1.716051,0.230616,0.300000,0.011928,3.920000,0.580517,6.681964,0.145129,0.203976
MU,NaN,56.85,35.0,-30.239360,0.011928,1.257938,0.139165,2.330000,0.210736,4.320000,0.582505,4.491367,0.087475,0.206362
CI,NaN,315.00,6.0,13.601036,0.286282,2.134450,0.341948,0.560000,0.028827,-6.222523,0.292247,5.205959,0.097416,0.209344
F,NaN,12.67,157.0,6.366834,0.073559,1.209200,0.133201,0.340000,0.013917,6.890000,0.606362,8.523925,0.224652,0.210338
DHI,NaN,95.36,20.0,9.922997,0.149105,1.691020,0.224652,1.010000,0.075547,4.740000,0.586481,3.603774,0.043738,0.215905
XRAY,NaN,36.82,54.0,18.785713,0.493042,2.190102,0.357853,1.950000,0.161034,-18.920000,0.009940,4.055085,0.063618,0.217097
RE,NaN,346.67,5.0,14.242810,0.316103,1.767570,0.242545,0.980000,0.072565,-6.222523,0.292247,7.309091,0.165010,0.217694
ABC,NaN,164.16,12.0,14.274783,0.320080,-160.000000,0.007952,0.150000,0.001988,11.360000,0.697813,4.262905,0.079523,0.221471
WHR,NaN,154.90,12.0,8.139779,0.105368,2.002068,0.310139,0.430000,0.019881,8.810000,0.650099,2.786848,0.021869,0.221471
FOXA,NaN,31.77,62.0,9.103152,0.123260,1.501134,0.188867,1.290000,0.105368,8.480000,0.633201,4.076132,0.066600,0.223459
NCLH,NaN,16.00,125.0,-3.603604,0.029821,16.859852,0.934394,1.690000,0.143141,-19.310000,0.007952,-20.113536,0.001988,0.223459
NUE,NaN,155.13,12.0,5.471958,0.057654,2.247381,0.375746,0.980000,0.072565,3.380000,0.576541,3.954751,0.055666,0.227634
NWL,NaN,15.57,128.0,9.854430,0.147117,1.705367,0.228628,0.650000,0.036779,10.640000,0.681909,3.680723,0.047714,0.228429
C,NaN,50.31,39.0,8.220589,0.107356,0.542660,0.079523,1.330000,0.113320,-6.222523,0.292247,9.766213,0.551690,0.228827
AFL,NaN,72.44,27.0,13.824429,0.298211,1.871206,0.270378,2.270000,0.196819,-6.222523,0.292247,5.286813,0.099404,0.231412
NRG,NaN,32.15,62.0,9.159545,0.127237,1.454751,0.178926,3.732479,0.560636,-6.222523,0.292247,2.748080,0.019881,0.235785
TAP,NaN,50.38,39.0,12.984536,0.272366,0.828932,0.093439,1.030000,0.077535,10.840000,0.685885,4.224691,0.075547,0.240954
CVS,NaN,89.37,22.0,10.355736,0.168986,1.662667,0.220676,0.380000,0.017893,15.750000,0.819085,3.328024,0.037773,0.252883
INTC,NaN,29.60,67.0,15.179487,0.363817,1.222989,0.135189,1.780000,0.150099,5.220000,0.592445,3.223693,0.035785,0.255467
MCK,NaN,383.47,5.0,15.468737,0.379722,-30.771145,0.025845,0.210000,0.003976,14.590000,0.789264,4.467125,0.085487,0.256859
WFC,NaN,44.12,45.0,9.134576,0.125249,1.068100,0.113320,2.300000,0.204771,-6.222523,0.292247,9.766213,0.551690,0.257455
FOX,NaN,29.88,66.0,14.575610,0.328032,1.411831,0.165010,1.210000,0.095427,8.480000,0.633201,4.076132,0.066600,0.257654
BEN,NaN,29.78,67.0,12.056681,0.232604,1.296530,0.147117,1.780000,0.150099,8.900000,0.654076,5.573864,0.105368,0.257853
XOM,NaN,112.93,17.0,8.118620,0.103380,2.499060,0.419483,1.170000,0.092445,5.320000,0.594433,4.703720,0.091451,0.260239
IVZ,NaN,19.15,104.0,11.606061,0.210736,0.799516,0.089463,1.400000,0.123260,10.710000,0.683897,8.502165,0.222664,0.266004
KR,NaN,46.18,43.0,11.154590,0.198807,3.321346,0.532803,0.230000,0.005964,7.190000,0.616302,1.622087,0.003976,0.271571
KEY,NaN,18.02,110.0,8.580953,0.115308,1.558015,0.198807,2.400000,0.216700,-6.222523,0.292247,9.766213,0.551690,0.274950
ALK,NaN,50.30,39.0,11.563218,0.208748,1.667495,0.222664,0.710000,0.044732,12.300000,0.727634,7.646432,0.186879,0.278131
PXD,NaN,237.90,8.0,7.559580,0.093439,2.464468,0.413519,2.450000,0.218688,5.150000,0.590457,6.448349,0.131213,0.289463
ETSY,NaN,132.51,15.0,-25.240000,0.013917,-27.468904,0.029821,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.289662
WYNN,NaN,98.01,20.0,-23.963326,0.015905,-14.445100,0.043738,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.292843
FITB,NaN,34.11,58.0,10.151786,0.161034,1.601333,0.206759,3.050000,0.254473,-6.222523,0.292247,9.766213,0.551690,0.293241
ADM,NaN,88.09,22.0,11.698539,0.212724,2.015328,0.316103,0.510000,0.025845,8.940000,0.656064,9.549249,0.264414,0.295030
WY,NaN,31.71,63.0,10.640939,0.178926,2.157877,0.347913,2.250000,0.194831,7.320000,0.620278,6.480488,0.135189,0.295427
CINF,NaN,106.19,18.0,24.467741,0.695825,1.768890,0.246521,2.190000,0.186879,-6.222523,0.292247,3.968668,0.057654,0.295825
BA,NaN,211.41,9.0,-23.888136,0.017893,-7.114589,0.059642,3.732479,0.560636,-6.222523,0.292247,9.766213,0.551690,0.296421

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [396]:
writer=pd.ExcelWriter("value_strategy.xlsx",engine="xlsxwriter")
rv_df.to_excel(writer,sheet_name="Value Strategy",index=False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [397]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
float_template = writer.book.add_format(
        {
            'num_format':'0.0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [398]:
column_formats={
   'A':[ 'Ticker', string_template],
   'B':[ 'Price',dollar_template ],
   'C':[ 'Number of Shares to Buy', integer_template],
   'D':[ 'Price-to-Earnings Ratio',float_template],
   'E':[ 'PE Percentile',percent_template],
   'F':[ 'Price-to-Book Ratio',float_template],
   'G':[ 'PB Percentile',percent_template],
   'H':[ 'Price-to-Sales Ratio',float_template],
   'I':[ 'PS Percentile',percent_template],
   'J':[ 'EV/EBITDA',float_template],
   'K':[ 'EV/EBITDA Percentile',percent_template],
   'L':[ 'EV/GP',float_template],
   'M':[ 'EV/GP Percentile', percent_template],
   'N':[ 'RV Score',percent_template]
 }
for column in column_formats.keys():
    writer.sheets["Value Strategy"].set_column(f"{column}:{column}",25,column_formats[column][1])
    writer.sheets["Value Strategy"].write(f"{column}1",column_formats[column][0],column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [399]:
writer.save()